html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table {
  width: 80%;
  border-spacing: 20px;
}

th {
  border-bottom: 1px solid black;
}

td {
  height: 120px;
  width: 10%;
  border-bottom: 1px solid black;
  padding: 0 20px;
}
